body {
  margin: 0;
  color: white;
  font-family: "Roboto";
  box-sizing: border-box;
}
.gradient-from {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 400px;
  flex-wrap: wrap;
}
.generate-btn {
  width: 80px;
  background-color: #00c9b7;
  color: black;
  border-radius: 5px;
  padding: 10px;
}
.direction-btn {
  background-color: white;
  opacity: 0.5;
}
.color-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 30px;
}
